.card-portfolio:hover {
    box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.5) !important;
    transition: all 0.2s linear !important;
  }

  .cards-container{
    height: 120vh;
    width: 80%;
    /* border: 1px solid black; */
    padding: 12rem 0;
    max-width: 120rem;
    margin: auto;
    width: 92%;
    /* border: 1px solid red; */
  }
  
  .card-body {
    padding: 2rem 0 !important;
  }
  
  .card-text {
    padding: 0.3rem 1rem;
    font-size: 1rem;
  }
  
  .overflow {
    overflow: hidden;
  }
  
  .card-img-top {
    transition: all 0.5s ease-in-out;
  }
  
  .card-img-top:hover{
    transform: scale(1.8);
  }
  
  .animation {
    display: inline-block;
    margin: 0 0.5rem;
  
    animation: bounce;
    animation-duration: 2s;
  }