textarea {
    resize: none;
}

.container_form {
    /* background-color: red; */
    padding: 8rem;
}

/* .form {
     border: 2px solid red; 
} */

.footer {
    box-shadow: rgba(24, 24, 177, 0.2) 0 7px 29px 0;
    background: #02a9ca;
    padding: 0rem;
    margin: auto;
    max-width: 70rem;
    min-height: 40rem ;
    text-align: right;
    width: 95%;
    border-radius: 10px;
    margin: 5rem auto 10rem auto;
    /* border: 5px solid green; */
}

@media screen and (max-width: 768px) {
    .footer {
      font-size: 0.8rem;
      padding: 2rem;
      width: 15rem;
      align-items: center;
      text-align: center;
      height: 10rem;
      /* margin: auto; */
    }
}

@media screen and (max-width: 768px) {
    .heading-sec__main {
        display: block;
        font-size: 2rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        letter-spacing: 0px;
        text-align: center;
        margin-bottom: 3.5rem;
        position: relative;
    }
}

@media screen and (max-width: 768px) {
    .container_form {
        /* background-color: red; */
        padding: 0rem;
    }
}

.container_form {
    /* background-color: red; */
    padding: 0rem;
}



/* .contact__form-label {
    color: #667;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 700;
    margin-bottom: 1rem;
    display: block;
    text-align: left;
} */

/* .heading-sec__mb-med {
    margin-bottom: 4rem;
} */